#connector-Reddit > div.edit-fields {
    box-sizing: border-box;
}

#connector-Reddit > div.edit-fields {
    padding-bottom: 20px;
}

.span2col {
    width: 60% !important;
}

.connector-reddit-form-item::after {
    content: '';
    clear: both;
    display: block;
}

#connector-Reddit > div.edit-fields .connector-reddit-form-item {
    box-sizing: border-box;
    float: none;
    margin-bottom: 10px;
    width: 100%;
}

#connector-Reddit > div.edit-fields .connector-reddit-form-item label {
    padding-right: 15px;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    width: 25%;
}

.connector-reddit-form-item .helpIcon {
    display: inline-block;
    border-radius: 14px;
    background-color: #FF4500;
    width: 14px;
    height: 14px;
    text-align: center;
    color: #fff;
    margin-left: 5px;
    font-size: 10px;
    line-height: 14px;
}


